:root {
	--Dark-Blue: hsl(209, 23%, 22%);
	--Very-Dark-Blue: hsl(207, 26%, 17%);
	--Light-Dark-Blue: hsl(200, 15%, 8%);
	--Dark-Gray: hsl(0, 0%, 52%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
	--White: hsl(0, 0%, 100%)
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	&::before,
	&::after {
		@extend &;
	}
}

.outline-none {
	outline: none !important;
	&::before, &::after {
		@extend .outline-none;
	}
}

body{
	font-family: "Nunito Sans",
	sans-serif;
}
